@charset "UTF-8";
/* CSS Document 
Author: Jekaterina Pavlenko K00224431
Date: 09/03/2019
Main Style
*/

html {
    background-color: #808080;
}

body {
    font-family: Arial, san-serif;
    font-size: 100%;
    width: 75%;
    margin: 5px auto;
    padding: 10px 15px;
    border: 1px solid #448D76;
    border-radius: 5px;
    background-color: #E7F3EF;	
}

a {
    font-weight: bold;
    text-decoration: none;
}

body header img{
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

#menu ul {
    width: 100%;                        
    list-style-type: none;
    position: relative;
}

#menu ul li {
    float: left;
    border-right: 10px solid #E7F3EF;
}

#menu > ul::after {
    content: "";
    clear: both;
    display: block;
}

#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#menu ul li {
    width: 8.2%;
    
}

#menu ul li a {
    text-align: center;
    display: block;
    padding: 1em 0;
    background-color: #3d3d5c;
    color:#E7F3EF;
}

#menu ul li a.current, #form ul li a.current {
/*    color: #D61A46 !important;*/
    color: white !important;
    background-color: #a3a3c2;
}

#menu a:hover, a:focus {
    color: white !important;
    background-color: #a3a3c2;
}

nav {
    padding-bottom: 0.15em;
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 31.9%;
}

div.gallery img {
    width: 100%;
    height: auto;
}

section #content {
    background-color: #AF9D88;
    width: 100%;
    padding: .8em .5em;
    margin: 15px auto;
}

footer {
    background-color: #3d3d5c;
    color: #448D76;
    font-size: smaller;
    height: 6em;
    margin: 5px auto;
    padding: 0.5em 0.5em;
}

footer img {
    height: 50px;
    width: 50px;
    float: right;
    padding-top: 5px;
    padding-right: 10px;
    display: block;
}
h1 ,h2 ,h3 ,h4 h5 h6
{
    text-align:center;
}

h2 {
    margin-right: 15%;
}

.boxed {
    border: 1px solid green ;
    padding: 5px;
}

.killers {
    width: 14%;
    height: auto;
    float:left;
    padding: 10px;
}

.perks {
    width: 20%;
    height: auto;
    float:left;
    padding: 10px; 
}

.mapouter {
    text-align: center;
}
.servletOutput, table
{
    width:100%;
    border:solid black;
    border-width:2px;
    border-collapse: collapse;
    margin:0 auto;
    background-color:white;
}
.servletOutput input
{
    width:95%;
    height:30px;
}
.servletOutput,th
{
    padding:10px;  
    border:solid black;
    border-width:2px; 
    border-collapse: collapse;
}

.servletOutput,td
{
    padding:10px;
    border:solid black;
    border-width:2px;  
    border-collapse: collapse;
}
/* /////////////////////////////////////////////////////////////////                            */
table
{
    width:60%;
    border:solid black;
    border-width:2px;
    border-collapse: collapse;
    margin:0 auto;

}
th
{
    padding:20px;  
    border:solid black;
    border-width:2px; 
    border-collapse: collapse;

}
td 
{
    padding:20px;
    border:solid black;
    border-width:2px;  
    border-collapse: collapse;
}
/*/////////////////////////////////*/
.comments, table
{
    width:100%;
    border:solid black;
    border-width:2px;
    border-collapse: collapse;
    margin:0 auto;
    background-color:white;
}
.comments,th
{
    padding:10px;  
    border:solid black;
    border-width:2px; 
    border-collapse: collapse;
}

.comments,td
{
    padding:10px;
    border:solid black;
    border-width:2px;  
    border-collapse: collapse;
}